// Copyright 2022 Manna Harbour
// https://github.com/manna-harbour/miryoku

/ {
  behaviors {
    u_lmt: u_lmt {
      compatible = "zmk,behavior-hold-tap";
      label = "u_lmt";
      #binding-cells = <2>;
      tapping_term_ms = <U_TAPPING_TERM>;
      flavor = "tap-preferred";
      hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 32 33 34>;
      quick-tap-ms = <U_QUICK_TAP_HOMEROW>;
      bindings = <&kp>, <&kp>;
    };
    u_rmt: u_rmt {
      compatible = "zmk,behavior-hold-tap";
      label = "u_rmt";
      #binding-cells = <2>;
      tapping_term_ms = <U_TAPPING_TERM>;
      flavor = "tap-preferred";
      hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 35 36 37>;
      quick-tap-ms = <U_QUICK_TAP_HOMEROW>;
      bindings = <&kp>, <&kp>;
    };
    u_lt: u_lt {
      compatible = "zmk,behavior-hold-tap";
      label = "u_lt";
      #binding-cells = <2>;
      tapping_term_ms = <U_TAPPING_TERM>;
      flavor = "hold-preferred";
      quick-tap-ms = <U_QUICK_TAP>;
      bindings = <&mo>, <&kp>;
    };
    tdto_q_switch: tdto_q_switch {
      compatible = "zmk,behavior-tap-dance";
      label = "tdto_q_switch";
      #binding-cells = <0>;
      tapping-term-ms = 200;
      bindings = <&kp Q>, <&to U_SWITCH>;
    };        
    tdto_base: tdto_base {
      compatible = "zmk,behavior-tap-dance";
      label = "tdto_base";
      #binding-cells = <0>;
      tapping-term-ms = 200;
      bindings = <&none>, <&to U_BASE>;
    };
  };
};

/ {
    macros {
        dbl_arrow: dbl_arrow {
            label = "dbl_arrow";
            compatible = "zmk,behavior-macro";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp EQUAL &kp GREATER_THAN>;
        };
        mkd_code: mkd_code {
            label = "mkd_code";
            compatible = "zmk,behavior-macro";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings = <&macro_tap &kp GRAVE &kp GRAVE &kp GRAVE>;
        };
    };
};

